################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Front/Properties/ServiceDependencies/OjedaGrowShop20220605160655 - Web Deploy/profile.arm.json
