@inherits LayoutComponentBase
@using OjedaGrowShop.Helper
@inject AuthorizationHelper authorizationHelper
@using OjedaGrowShop.EF.Services


<div class="w-100" style="height:100%;">

    <div class="w-100 overflow-hidden">
        @Body
    </div>


    <footer class="text-white" style="background-color: rgb(49, 49, 49);">
        <Footer />
    </footer>

</div>


@code {
}