@using Microsoft.AspNetCore.ProtectedBrowserStorage
@using Microsoft.Extensions.Logging
@using OjedaGrowShop.Helper
@inject AuthorizationHelper authorizationHelper
@inject ProtectedSessionStorage ProtectedSessionStore


<style>

    .container__menu {
        width: 100%;
        height: 70px;
        background-color: #009624;
        padding: 0px 20px;
    }

    .enlacesMenu {
        width: 100% !important;
        height: 100% !important;
        padding: 28px;
        align-items: center;
        text-transform: uppercase;
        transition: all 300ms ease;
        font-weight: bold;
    }

    .navLink {
        text-decoration: none;
    }

        .navLink:hover {
            text-decoration: none;
            padding-left: 25px;
            padding-right: 25px;
        }

    .enlacesMenu:hover {
        transform: scale(1.1);
        background-color: #338a3e;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    }

    .enlacesMenu:active {
        background-color: #338a3e;
    }

    .ancho{
        width: auto;
    }

    @@media (max-width: 725px) {
      .ancho{
        width: 100%;
    }
    } 

</style>


<div class="container-fluid container__menu rounded-3">
    <img src="images/logotiporeducido.png" alt="" style="width: 75px; margin-right: 25px; border-radius: 50%;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto  mb-lg-0 gap-2 mt-md-0" style="background-color: #009624 !important; ">
            <li class="">
                <NavLink class="navLink" href="" Match="NavLinkMatch.All">
                    <span onclick="event.preventDefault;" class="nav-link w-100  text-white enlacesMenu pl-3 pr-3" aria-current="page">
                        <i class="bi bi-house-door-fill"></i>  Home</span>
                </NavLink>
            </li>
            <li class="">
                <NavLink class="navLink" href="campo">
                    <span onclick="event.preventDefault;" class="nav-link  w-100  text-white enlacesMenu pl-3 pr-3" aria-current="page">
                        <i class="bi bi-tree-fill"></i>  Campo</span>
                </NavLink>

            </li>
            <li class="">
                <NavLink class="navLink" href="mascotas">
                    <span onclick="event.preventDefault;" class="nav-link  w-100  text-white enlacesMenu pl-3 pr-3" aria-current="page">
                         <i class="bi bi-heart-fill"></i> Mascotas</span>
                </NavLink>
            </li>
            <li class="">
                <NavLink class="navLink" href="contacto">
                    <span onclick="event.preventDefault;" class="nav-link  w-100  text-white enlacesMenu pl-3 pr-3" aria-current="page">
                         <i class="bi bi-person-square"></i>  Contacto</span>
                </NavLink>
            </li>
        </ul>
        @if (!authorizationHelper.IsLoged)
        {
            <ul class="navbar-nav " style="background-color: #009624 !important; ">
                <li class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle text-white enlacesMenu  pl-3 pr-3" href="#" style=" font-weight: bold;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person"></i>  Iniciar / Registrar
                    </span>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">


                        <li class="dropdown-item">
                            <NavLink class="navLink" href="login">
                                <span class="nav-link enlacesMenu w-100  pl-3 pr-3" aria-current="page">
                                    <i class="bi bi-person-fill"></i>  Login</span>
                            </NavLink>
                        </li>
                        <li class="dropdown-item">
                            <NavLink class="navLink" href="register">
                                <span class="nav-link enlacesMenu w-100  pl-3 pr-3" aria-current="page">
                                    <i class="bi bi-person-plus-fill"></i>  Registrarme</span>
                            </NavLink>
                        </li>
                    </ul>




                </li>
            </ul>
        }
        else
        {
            <ul class="navbar-nav ancho" style="background-color: #009624 !important; margin-right:45px;">
                <li class="nav-item dropdown ">
                    <span class="nav-link  text-white enlacesMenu dropdown-toggle pl-3 pr-3 text-left text-md-center" href="#" style=" font-weight: bold;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-person-circle"></i>  @user                           
                    </span>
                    @if (authorizationHelper.IsAdmin)
                    {
                        <ul class="dropdown-menu" style="left:-150px !important;" aria-labelledby="navbarDropdown">
                            <li class="dropdown-item">
                                <NavLink class="navLink" href="panelAdmin">
                                    <span class="nav-link enlacesMenu w-100  pl-3 pr-3" aria-current="page"><i class="bi bi-gear"></i>  Panel Administrador</span>
                                </NavLink>
                                <NavLink class="navLink" href="carrito">
                                    <span class="nav-link enlacesMenu w-100  pl-3 pr-3" aria-current="page"><i class="bi bi-cart"></i>  Carrito</span>
                                </NavLink>
                                <NavLink class="navLink" href="">
                                    <span class="nav-link enlacesMenu w-100  pl-3 pr-3" aria-current="page" @onclick="LogOut"><i class="bi bi-box-arrow-right"></i>  Salir</span>
                                </NavLink>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="dropdown-item">
                                <NavLink class="navLink" href="carrito">
                                    <span class="nav-link enlacesMenu w-100  pl-3 pr-3" aria-current="page"><i class="bi bi-cart"></i>Carrito</span>
                                </NavLink>
                                <NavLink class="navLink" href="">
                                    <span class="nav-link enlacesMenu w-100  pl-3 pr-3" aria-current="page" @onclick="LogOut"><i class="bi bi-box-arrow-right"></i>Salir</span>
                                </NavLink>
                            </li>
                        </ul>
                    }



                </li>
            </ul>
        }
    </div>
</div>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    [Inject]
    public IMatToaster Toaster { get; set; }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    //Carga del usuario, si el usuario ha conectado
    //Realiza la carga
    private bool isConnected;
    private bool userRol;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isConnected = true;
            await LoadStateAsync();
            StateHasChanged();

        }
    }

    private string? user;
    private async Task LoadStateAsync()
    {
        user = await ProtectedSessionStore.GetAsync<string>("user");
        StateHasChanged();
    }

    //protected override Task OnInitializedAsync()
    //{
    //    authorizationHelper.EventCallback = LoadStateAsync;
    //}

    public async Task LogOut()
    {
        authorizationHelper.IsAdmin = false;
        authorizationHelper.IsLoged = false;
        await ProtectedSessionStore.DeleteAsync("user");
        await ProtectedSessionStore.DeleteAsync("userId");
        Helper.MatToastHelper.Show(MatToastType.Info, "Se ha cerrado sesión correctamente.", "Log Out");
    }

}
