@page "/ayuda"
@inject NavigationManager Navigation

<style>
    .listEnlaces{
        list-style: none;
        text-align:center;
    }

    a {
        text-decoration: none;
    }
</style>


<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #009624 !important; z-index:100; ">
    <NavMenu />
</nav>

<section class="container mt-4 mb-4">
    <div class="row text-center">
        <h2>Dudas generales.</h2>
    </div>
    <div class="row ml-md-0 mr-md-0 ml-3 mr-3 mt-2 gap-3">
        <div>
            <h3>¿Cómo inicio sesión?</h3>
            <p>
                Para poder iniciar sesión puedes clicar sobre el botón desplegable que <span class="font-weight-bold">INICIAR/REGISTRAR</span>
                en dicho desplegable encontrarás la opción de <span class="font-weight-bold">LOGIN</span>, al clicar sobre ella te redirigirá a una página
                que te indicará que rellenes 2 campos:
            </p>
            <ul>
                <li>Usuario</li>
                <li>Contraseña</li>
            </ul>
            <p>Ambos campos son obligatorios, una vez rellenados correctamente clica sobre <span class="font-weight-bold">INICIAR SESIÓN</span>.</p>
        </div>
        <div>
            <h3 >¿Cómo me registro?</h3>
            <p>
                Para poder registrarte puedes clicar sobre el botón desplegable que <span class="font-weight-bold">INICIAR/REGISTRAR</span>
                en dicho desplegable encontrarás la opción de <span class="font-weight-bold">REGISTRARME</span>, al clicar sobre ella te redirigirá a una página
                que te indicará que rellenes 4 campos:
            </p>
            <ul>
                <li>Usuario</li>
                <li>Correo</li>
                <li>Contraseña</li>
                <li>Confirmar Contraseña</li>
            </ul>
            <p>
                Todos los campos son obligatorios, debes tener en cuenta que el campo de contraseña debe contener entre 8 y 16 carácteres, un dígito, minúsculas y mayúsculas.<br />
                Una vez introducido los campos correctamentes clica sobre <span class="font-weight-bold">REGISTRARME</span> asegurate de que no has registrado un usuario con tu correo anteriormente
                en caso de haber registrado un usuario con ese correo te saltará una ventana de error donde te indicará que el usuario ya está registrado.
            </p>
        </div>
        <div>
            <h3 >¿Cómo puedo comprar un producto?</h3>
            <p>
                Para poder comprar un producto antes que nada deberás iniciar sesión, en caso de que no tengas un usuario deberás registrarte.
                Una vez haya iniciado sesión podrás comprar productos tanto en la sección de <span class="font-weight-bold">MASCOTAS</span> como en <span class="font-weight-bold">CAMPO</span>.<br />
                En dichos apartados podrás añadir un producto al carrito. Para poder visualizar los productos que has añadido al carrito clica sobre
                el botón desplegable que tendrás sobre tu nombre y luego clica en <span class="font-weight-bold">CARRITO</span>. En la siguiente página te encontrarás con un listado
                de los productos y el total, además de ello podrás realizar las siguientes acciones:
            </p>
            <ul>
                <li>Completar compra.</li>
                <li>Vaciar carrito.</li>
                <li>Eliminar.</li>
            </ul>
            <p>
                Al completar la compra se imprimirá un pdf en la cual se indicará la factura de la compra. Al vaciar el carrito se eliminarán todos los productos añadidos al carrito
                Y por último en el caso de eliminar será un botón que se encontrará al lado del producto añadido, dicho botón eliminará todas las existencias del producto en tu carrito.
            </p>
            <h4>¿No se puede eliminar los productos del carrito de uno en uno?</h4>
            <p>
                Se contempla añadir esa acción en un futuro cercano para volver el carrito más comodo para el cliente.
            </p>
        </div>
        <div>
            <h3>¿Cómo puedo contactar con el dueño?</h3>
            <p>
                Para contactar con el dueño puedes dirigirte a <a href="/contacto">Contacto</a> ahí encontrarás un formulario para poder mandarle un mensaje, en ese mensaje
                deberás introducir tu correo y el mensaje que quieres que reciba. Una vez lo reciba el te contestará en cuando pueda.
            </p>
        </div>
    </div>
</section>

@code {

}
