<style>
       .card {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        min-width:250px;
        max-width:380px;
        margin: 0 auto;
    }
</style>


<div class="row">
    <div class="text-center bg-blue-100">
        <div class="row mx-auto my-0" style="min-width:180px; max-width:180px;">
            <MatTextField Label="Producto" @bind-Value="SearchText"  @bind-Value:event="inunput"/>
        </div>
        <div class="row">
            <label style="font-size:0.8rem;">¡Busca tu producto!</label>
        </div>
    </div>



</div>
<div class="row flex-wrap flex-column flex-md-row gap-5 justify-content-center" style="margin-top:50px; margin-bottom:50px">

    @for (var i = 0; i < 6; i++)
    {

        @if (i % 2 == 0)
        {
       <div data-aos="flip-up" class="col-12 col-md-4 col-xl-3">

                    <MatCard class="demo-mat-card card">
                        <MatCardContent>
                            <MatCardMedia Wide="true" ImageUrl="https://images.pexels.com/photos/4432260/pexels-photo-4432260.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></MatCardMedia>
                            <div class="demo-mat-card-content">
                                <MatHeadline6 class="demo-mat-card-clean-margin">
                                    Our Changing Planet
                                </MatHeadline6>
                                <MatSubtitle2 class="demo-mat-card-clean-margin">
                                    by Kurt Wagner
                                </MatSubtitle2>
                            </div>

                            <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                Visit ten places on our planet that are undergoing the biggest changes today.
                            </MatBody2>
                        </MatCardContent>
                        <MatCardActions>

                            <MatCardActionIcons>
                                <MatButton Icon="@MatIconNames.Shopping_cart" OnClick="anadirCarro">Añadir al carrito</MatButton>
                            </MatCardActionIcons>
                        </MatCardActions>
                    </MatCard>
                </div>
        }
        else
        {
        <div data-aos="flip-left" class="col-12 col-md-4 col-xl-3">

                    <MatCard class="demo-mat-card card">
                        <MatCardContent>
                            <MatCardMedia Wide="true" ImageUrl="https://images.pexels.com/photos/8408085/pexels-photo-8408085.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></MatCardMedia>
                            <div class="demo-mat-card-content">
                                <MatHeadline6 class="demo-mat-card-clean-margin">
                                    Our Changing Planet
                                </MatHeadline6>
                                <MatSubtitle2 class="demo-mat-card-clean-margin">
                                    by Kurt Wagner
                                </MatSubtitle2>
                            </div>

                            <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                Visit ten places on our planet that are undergoing the biggest changes today.
                            </MatBody2>
                        </MatCardContent>
                        <MatCardActions>

                            <MatCardActionIcons>
                                <MatButton Icon="@MatIconNames.Shopping_cart" OnClick="anadirCarro">Añadir al carrito</MatButton>
                            </MatCardActionIcons>
                        </MatCardActions>
                    </MatCard>
                </div>
        }

    }

</div>

@code {
    string SearchText = "";
    //para hacer el SearchText https://www.daveabrock.com/2021/01/14/blast-off-blazor-search-box/



    [Inject]
    public IMatToaster Toaster { get; set; }
    protected override void OnInitialized()
    {
        Helper.MatToastHelper.Toaster = Toaster;
    }


    public void anadirCarro()
    {
        Helper.MatToastHelper.Show(MatToastType.Info, "¡Se ha añadido al carrito!", "Producto");

    }
}
